# Ignore all raw and processed data
data/raw/
data/processed/

# Ignore all CSVs by default
*.csv

# Allow small metadata files
!data/*.md
!data/*.txt

# Ignore large binary files
*.npz
*.npy
*.vcf
*.tsv
*.gz
*.zip

# Ignore Python cache
__pycache__/
*.pyc
